.logo {
  text-align: center;
}
.logo-image {
  width: 40%;
  margin-top: 5%;
  text-align: center;
  display: inline-block;
}
.bg {
  // background-image: url("../../assets/images/appbg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.signup-center-div {
  margin: auto;
  width: 100%;
  text-align: center;
}
.signup-head {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}
.signup-text {
  font-size: 14px;
  margin-top: 10px;
}
.subscribe-button {
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 3px;
  font-size: 13px;
  background-color: #016ef6;
  text-align: center;
  padding-top: 4vw;
  padding-bottom: 4vw;
  width: 74%;
  margin-top: 3%;
}
.tc {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  font-size: 18px;
  color: black;
}
.login {
  color: #016ef6;
}
.fl {
  float: left;
}
.fr {
  float: right;
  color: #016ef6;
  font-size: 16px;
}
.bottom-bar {
  width: 40%;
  margin: auto;
  border: 2px solid black;
  position: absolute;
  bottom: 0px;
  width: 40%;
  left: 30%;
}
.bg-img {
  width: 80%;
  border: none;
  margin-bottom: 4%;
  margin-top: 4%;
  padding: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(217, 206, 217, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(217, 206, 217, 1);
  box-shadow: 1px 1px 5px 0px rgba(217, 206, 217, 1);
}
.pd20 {
  padding: 20px;
}
.email {
  background: url(/assets/images/Email.png) no-repeat 5% 3px transparent;
  background-size: 29px;
}
.pwd {
  background: url(/assets/images/Password.png) no-repeat 5% 3px transparent;
  background-size: 29px;
}
.mt2 {
  margin-top: 2% !important;
}
.validation {
  width: 74%;
  float: left;
  text-align: left;
  clear: both;
  margin-left: auto;
  color: red;
  margin-left: 13%;
  font-size: 12px;
  /* margin-bottom: 3%; */
  font-weight: bold;
  margin-right: auto;
}
.forgot-image {
  width: 50% !important;
  display: inline-block !important;
  text-align: center !important;
  margin-top: 5% !important;
}
.black {
  color: black !important;
}
.wd60 {
  width: 30%;
  margin-left: 19%;
}
.label-stacked.sc-ion-label-md-h,
.label-floating.sc-ion-label-md-h {
  margin-left: 15%;
  color: gray;
  text-align: center;
}
.wd100 {
  width: 100%;
  float: left;
  --background: transparent;
}
