<ion-toolbar>
  <ion-buttons (click)="goback()" slot="start">
    <img class="wd60" src="assets/images/backwhiteicon.png" />
  </ion-buttons>
  <ion-title>Change Password</ion-title>
</ion-toolbar>

<ion-content>
  <div class="bg">
    <div class="signup-center-div">
      <div class="logo forgot-image">
        <ion-img class="logo-image" src="assets/images/forgot.png"></ion-img>
      </div>
      <p class="signup-head">Change Password</p>
      <p class="signup-text">
        Enter your old and new password below, <br />
        we're just being extra safe
      </p>
      <form [formGroup]="formgroup" (ngSubmit)="submitForm()" novalidate>
        <ion-item class="wd100" lines="none">
          <ion-label position="stacked">Old Password</ion-label>
          <ion-input
            formControlName="oldpassword"
            class="bg-img mt0 mylabel"
            type="password"
          ></ion-input>
        </ion-item>

        <ion-label
          class="inputLabel validation validation-req-text-end"
          *ngIf="oldpassword.hasError('required') && isSubmitted"
          end
          >Required*</ion-label
        >

        <ion-item class="wd100" lines="none">
          <ion-label position="stacked">New Password</ion-label>
          <ion-input
            formControlName="newpassword"
            class="bg-img mt0 mylabel"
            type="password"
          ></ion-input>
        </ion-item>

        <ion-label
          class="inputLabel validation validation-req-text-end"
          *ngIf="newpassword.hasError('required') && isSubmitted"
          end
          >Required*</ion-label
        >

        <ion-label
          class="inputLabel validation validation-req-text-end"
          *ngIf="newpassword.hasError('minlength') && isSubmitted"
          end
          >Password must be atleast of 6 digits*</ion-label
        >

        <ion-item class="wd100" lines="none">
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input
            formControlName="confirmpassword"
            (input)="checkConfirmPassword($event)"
            class="bg-img mt0 mylabel"
            type="password"
          ></ion-input>
        </ion-item>

        <!-- <ion-label
          class="inputLabel validation validation-req-text-end"
          *ngIf="!formgroup.get('confirmpassword').errors && formgroup.hasError('passwordNotMatch') && (formgroup.get('confirmpassword').dirty || && isSubmitted)"
          >Password and Confirm Password fields should match end</ion-label
        > -->

        <ion-label
          class="inputLabel validation validation-req-text-end"
          *ngIf="confirmpassword.hasError('required') && isSubmitted && !validate_confirmpassword"
          end
          >Required*</ion-label
        >
        <ion-label
          class="inputLabel validation validation-req-text-end"
          *ngIf="validate_confirmpassword"
          end
        >
          {{validate_confirmpassword}}</ion-label
        >

        <button type="submit" class="subscribe-button" tappable>Save</button>
      </form>
    </div>
  </div>
</ion-content>
