<ion-list>
  <ion-item (click)="selectCounsellor($event)">
    Select Counsellor
  </ion-item>
  <ion-item (click)="showProfile($event)">
    Profile
  </ion-item>
  <ion-item (click)="overView($event)">
    Overview
  </ion-item>
  <ion-item (click)="close()">
    <ion-label>Close</ion-label>
  </ion-item>
</ion-list>
