<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-buttons>
        <ion-button (click)="goback()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Academic</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar (click)="selectedStudent(student.id,student.student_id,student.first_name,student.last_name)"
        slot="start">
        <img src="assets/images/male.jpg" />
      </ion-avatar>
      <ion-label (click)="selectedStudent(student.id,student.student_id,student.first_name,student.last_name)">
        <h3>{{student?.first_name + ' ' + student?.last_name}}</h3>
        <p>Class: {{student?.studentclass.name}}</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let item of list">
      <ion-card-content>

        <ion-item>
          <ion-label>
            <p>{{item.group}} > {{item.month}} - {{item.monthly_test_no}}</p>
          </ion-label>
          <ion-icon name="ellipse" style="color: {{item.color.hex}}"></ion-icon>
        </ion-item>

        <ion-item *ngFor="let sub of item.subjects">
          <ion-label>
            <h2>{{sub.subject.subject.name}}</h2>
            <p>Remarks: {{sub.academics_depart_remarks}}</p>
          </ion-label>
          <ion-badge color="dark">{{sub.test_percentage}}%</ion-badge>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>