<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="goback()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title>{{title}}</ion-title>
</ion-toolbar>

<ion-content>
  <span class="pd20" [innerHTML]="text"></span>
</ion-content>
