<div class="signup-center-div">
  <p class="signup-text"></p>
  <div class="datetime">
    <ion-item>
      <ion-label>
        <h2>Please select Date</h2>
      </ion-label>
      <ion-datetime [(ngModel)]="date" (ionChange)="setFormDate($event)" placeholder="select date"></ion-datetime>
      <ion-button slot="end" color="dark" (click)="date = null">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <div style="height: 30px"></div>

  </div>
  <div>
    <label class="item item-input item-stacked-label">
      <input [readonly]="inOtherPage" class="bg-img mt0 mylabel" type="text" value="{{student_id}}" readonly
        placeholder="Student ID" />
    </label>

    <label class="item item-input item-stacked-label">
      <input [readonly]="inOtherPage" class="bg-img mylabel" type="text" value="{{fullname}}" readonly
        placeholder="Student Name" />
    </label>

    <form [formGroup]="formgroup" (ngSubmit)="submitForm()" novalidate>
      <label class="item item-input item-stacked-label">
        <input [readonly]="inOtherPage" formControlName="number" class="bg-img mylabel" type="number"
          placeholder="Contact" />
      </label>
      <ion-label class="inputLabel validation validation-req-text-end"
        *ngIf="number.hasError('required') && isSubmitted" end>Required*</ion-label>

      <label class="item item-input item-stacked-label">
        <input [readonly]="inOtherPage" class="bg-img mylabel" formControlName="counsellor" type="text"
          placeholder="Counsellor Alloted" />
      </label>
      <ion-label class="inputLabel validation validation-req-text-end mb3"
        *ngIf="counsellor.hasError('required') && isSubmitted" end>Required*</ion-label>
    </form>

    <div class="wd100 fl">
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Without Card</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="reasons[0].checked" slot="start"></ion-checkbox>
        </ion-item>
      </span>
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Absenteesim</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="reasons[1].checked" slot="start"></ion-checkbox>
        </ion-item>
      </span>
    </div>

    <div class="wd100 fl">
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Improper Uniform</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="reasons[2].checked" slot="start"></ion-checkbox>
        </ion-item>
      </span>
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Teacher Complain</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="reasons[3].checked" slot="start"></ion-checkbox>
        </ion-item>
      </span>
    </div>

    <div class="wd100 fl">
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Arrival</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="reasons[4].checked" slot="start"></ion-checkbox>
        </ion-item>
      </span>
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Discipline Issues</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="reasons[5].checked" slot="start"></ion-checkbox>
        </ion-item>
      </span>
    </div>

    <div class="wd100 fl">
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Bunked</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="reasons[6].checked" slot="start"></ion-checkbox>
        </ion-item>
      </span>
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Excused for leave</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="reasons[7].checked" slot="start"></ion-checkbox>
        </ion-item>
      </span>
    </div>

    <div class="wd100 fl">
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Early Leave</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="reasons[8].checked" slot="start"></ion-checkbox>
        </ion-item>
      </span>
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Others</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="reasons[9].checked" slot="start"></ion-checkbox>
        </ion-item>
      </span>
    </div>

    <div class="wd100 fl">
      <label class="item item-input item-stacked-label">
        <ion-textarea class="bg-img mylabel mytextarea" placeholder="Reason From Student...." [readonly]="inOtherPage"
          [(ngModel)]="reason_student">
        </ion-textarea>
      </label>

      <label class="item item-input item-stacked-label">
        <ion-textarea class="bg-img mylabel mytextarea" placeholder="Student Affairs Remarks..."
          [readonly]="inOtherPage" [(ngModel)]="student_remarks">
        </ion-textarea>
      </label>

      <label class="item item-input item-stacked-label">
        <ion-textarea class="bg-img mylabel mytextarea" placeholder="Parent Concern (If Any)..."
          [readonly]="inOtherPage" [(ngModel)]="parent_concern">
        </ion-textarea>
      </label>
    </div>
    <form [formGroup]="formgroup" (ngSubmit)="submit()" [hidden]="inOtherPage || loading">
      <!-- <form [formGroup]="formgroup"> -->
      <button type="submit" class="subscribe-button" tappable>
        Submit
      </button>
    </form>
  </div>
</div>