<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Counsellor Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="councellor-fields">
    <ion-list>
      <ion-item class="ion-margin" lines="none">
        <ion-label class="label" position="stacked">Councellor Name</ion-label>
        <ion-input class="bg-img mt0" [(ngModel)]="councellorData.name"></ion-input>
      </ion-item>
      <ion-item class="ion-margin" lines="none">
        <ion-label class="label" position="stacked">Email</ion-label>
        <ion-input class="bg-img mt0" [(ngModel)]="councellorData.email"></ion-input>
      </ion-item>
      <ion-item class="ion-margin" lines="none">
        <ion-label class="label" position="stacked">Phone Number</ion-label>
        <ion-input class="bg-img mt0" [(ngModel)]="councellorData.phone"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  <div class="submit-button">
    <button type="submit" class="subscribe-button" (click)="submit()" tappable>Submit</button>
  </div>
</ion-content>