<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Select Counsellor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        SAVE
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar (click)="selectedStudent(student.id,student.student_id,student.first_name,student.last_name)"
        slot="start">
        <img src="assets/images/male.jpg" />
      </ion-avatar>
      <ion-label (click)="selectedStudent(student.id,student.student_id,student.first_name,student.last_name)">
        <h3>{{student?.first_name + ' ' + student?.last_name}}</h3>
        <p>Class: {{student?.studentclass.name}}</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>
        Please select counsellor for student:
      </ion-label>
    </ion-item>
    <div style="height: 30px"></div>
    <ion-radio-group [(ngModel)]="student.counsellor_id" (ionChange)="selectCounselor($event)">

      <ion-item *ngFor="let item of list">
        <ion-label>{{item.name}}</ion-label>
        <ion-radio slot="end" color="primary" [value]="item.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" (click)="councellorForm()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
