<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        <img *ngIf="platform != 'ios'" class="wd60" src="assets/images/Menu.png" />
        <img *ngIf="platform == 'ios'" class="wd45" src="assets/images/Menu.png" />
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Students</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()" placeholder="Search Student"
    class="home-searchbar"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let x of items" lines="">
      <ion-avatar (click)="gotoprojectdetails(x.id,x.student_id,x.first_name,x.last_name)" slot="start">
        <img src="assets/images/male.jpg" />
      </ion-avatar>
      <ion-label (click)="gotoprojectdetails(x.id,x.student_id,x.first_name,x.last_name)">
        <h3>{{x.first_name + ' ' + x.last_name}}</h3>
        <p>Class: {{x.studentclass.name}}</p>
      </ion-label>
      <ion-button [hidden]="!isEnablePopover" color="primary" fill="clear" slot="end" (click)="popclick($event, x)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <div style="width: 100%; text-align: center" [hidden]="!loading">
    <ion-spinner></ion-spinner>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>