.logo {
  text-align: center;
}
.logo-image {
  width: 60%;
  margin-top: 20%;
  text-align: center;
  display: inline-block;
}
.bg {
  // background-image: url("../../assets/images/appbg.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.signup-center-div {
  margin: auto;
  // margin-top: 5%;
  width: 100%;
  text-align: center;
}
.signup-text {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}
.subscribe-button {
  margin-left: auto;
  margin-right: auto;
  color: black;
  border-radius: 3px;
  font-size: 13px;
  background-color: #fac416;
  text-align: center;
  padding-top: 4vw;
  padding-bottom: 4vw;
  width: 90%;
  margin-bottom: 5%;
  margin-top: 1%;
  font-weight: bold;
}
.tc {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  font-size: 18px;
  color: black;
}
.login {
  color: #fac416;
}
.pd20 {
  padding: 20px;
  padding-bottom: 0px !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
  color: black;
  font-size: 13px;
  text-decoration: underline;
}
.bottom-bar {
  width: 40%;
  margin: auto;
  border: 2px solid black;
  position: absolute;
  bottom: 0px;
  width: 40%;
  left: 30%;
}
.bg-img {
  width: 90%;
  border: none;
  margin-bottom: 4%;
  margin-top: 4%;
  padding: 10px;
  padding-left: 16px;
  border-radius: 5px;
  padding-top: 3vw;
  padding-bottom: 3vw;
  font-size: 13px;
  box-shadow: 1px 1px 5px 0px #d9ced9;
}
.email {
  background: url(/assets/images/Email.png) no-repeat 5% 0px transparent;
  background-size: 29px;
}
.pwd {
  background: url(/assets/images/Password.png) no-repeat 5% 0px transparent;
  background-size: 29px;
}
.terms {
  width: 80%;
  margin: auto;
}
.mr10 {
  margin-right: 6px !important;
}
.pdl {
  --padding-start: 0px;
}
.or {
  width: 80%;
  margin: auto;
  float: left;
  margin-left: 10%;
}
.or-text {
  font-size: 15px !important;
  font-style: italic;
}
.mt2 {
  margin-top: 2% !important;
}
ion-item.pdl0.item.md.item-lines-none.ion-activatable.ion-focusable.ion-untouched.ion-pristine.ion-valid.hydrated.item-label {
  --padding-start: 0px;
}
ion-item.pdl0.item.md.item-lines-none.ion-activatable.ion-focusable.hydrated.item-label.item-checkbox-checked.ion-valid.ion-dirty.ion-touched {
  --padding-start: 0px;
}
ion-item.pdl0.item.md.item-lines-none.ion-activatable.ion-focusable.hydrated.item-label.ion-valid.ion-dirty {
  --padding-start: 0px;
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
  font-size: 11px;
}
.checkbox-icon {
  border-radius: 3px !important;
  border: 1px solid !important;
}
.black {
  --checkmark-color: black;
  --background-checked: white;
  --border-color: black;
  float: left;
  --border-color-checked: black;
}
.fb {
  background-color: #4267b2;
}
.google {
  background-color: #dc3545;
  margin-bottom: 5%;
}

.button__icon {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  left: 18%;
  position: absolute;
  height: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.icon--plus {
  width: 27px;
}

.icon__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
}
.validation {
  width: 90%;
  float: left;
  text-align: left;
  margin-left: auto;
  color: red;
  margin-left: 10%;
  font-weight: bold;
  margin-right: auto;
}
.mt0 {
  margin-top: 0px;
}
ion-checkbox.ion-touched {
  height: 20px !important;
  width: 20px !important;
  margin-right: 10px;
  margin-left: 16px;
}
ion-checkbox {
  height: 20px !important;
  width: 20px !important;
  margin-right: 10px;
  margin-left: 16px;
}
.wd60 {
  width: 24px;
  margin-left: 16px;
  margin-right: 16px;
}
.mytextarea {
  text-align: left;
  margin-left: 5%;
}
.sc-ion-textarea-md-h {
  --padding-top: 5px;
  --padding-end: 0;
  --padding-bottom: 30px;
  --padding-start: 0px;
  --placeholder-opacity: 0.65;
}
.wd100 {
  width: 100%;
}
.wd50 {
  width: 50%;
}
.fl {
  float: left;
}
