<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goback()" slot="start">
      <img *ngIf="platform != 'ios'" class="wd60" src="assets/images/backwhite.png" />
      <img *ngIf="platform == 'ios'" class="wd45" src="assets/images/backwhite.png" />
    </ion-buttons>
    <ion-title>Student Affairs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg">
    <ion-item (click)="toggle = !toggle">
      <ion-label>Student Affairs</ion-label>
      <ion-icon slot="end" [name]="toggle ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
    </ion-item>
    <app-student-affairs [class.ion-show]="toggle" [class.ion-hide]="!toggle" [id]="id" [fname]="fname" [lname]="lname"
      [student_id]="student_id" style="width: 100%; display: block"></app-student-affairs>
  </div>
</ion-content>
