<!-- ACADEMIC AFFAIRS -->

<div class="mt15">
  <div class="datetime">
    <ion-item>
      <ion-label>
        <h2>Please select Date</h2>
      </ion-label>
      <ion-datetime [(ngModel)]="date" (ionChange)="setFormDate($event)" placeholder="select date"></ion-datetime>
      <ion-button slot="end" color="dark" (click)="date = null">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <div style="height: 30px"></div>

  </div>
  <ion-item>
    <ion-label>Select Month</ion-label>
    <ion-select value="Select Month" okText="Okay" cancelText="Dismiss" [(ngModel)]="month" [disabled]="inOtherPage"
      (ionChange)="selectMonth($event, i)">
      <!-- <ion-select-option value="" selected="true">Select Month</ion-select-option> -->
      <ion-select-option [value]="month" *ngFor="let month of monthList">{{month}}</ion-select-option>
    </ion-select>
  </ion-item>
  <h5 class="details">Monthly Test:<input [readonly]="inOtherPage" class="bg-img mylabel" type="text" value="01"
      [(ngModel)]="monthTest" placeholder="Test No" /></h5>
  <h5 class="details">

    <!-- <select name="" id="" class="bg-img mylabel">
          <option [value]="month" *ngFor="let month of monthList">{{month}}</option>
        </select> -->
  </h5>
  <h5 class="details">Group: <input class="bg-img mylabel" type="text" value="Science" [readonly]="inOtherPage"
      [(ngModel)]="monthGroup" placeholder="Group" /></h5>
  <h5 class="details">Studen Name:
    <input class="bg-img mylabel" type="text" value="{{fullname}}" readonly placeholder="Student Name" />
  </h5>
</div>
<div class="signup-center-div" *ngFor="let sb of formData; let i = index">
  <p class="signup-text"></p>
  <div>
    <h5 class="details">
      <input class="bg-img mylabel" type="text" [value]="sb.subject?.subject?.name" readonly
        placeholder="SubjectName" />
    </h5>

    <div class="wd100 fl">
      <span class="wd50 fl" *ngFor="let c of sb.checkmarks; let i = index; ">
        <ion-item lines="none">
          <ion-label>{{ c.label }} </ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="c.checked" slot="start"></ion-checkbox>
        </ion-item>
      </span>
      <!-- <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Student is habitual/often/usually late comer.</ion-label>
          <ion-checkbox (ionChange)="checkmark('2',i, $event)" slot="start"></ion-checkbox>
        </ion-item>
      </span> -->
    </div>


    <div class="wd100 fl">
      <label class="item item-input item-stacked-label">
        <ion-textarea class="bg-img mylabel mytextarea" placeholder="Teacher's Remarks...." [readonly]="inOtherPage"
          [(ngModel)]="formData[i].teacher_remarks">
        </ion-textarea>
      </label>

      <label class="item item-input item-stacked-label">
        <ion-textarea class="bg-img mylabel mytextarea" placeholder="Academic Department Remarks..."
          [readonly]="inOtherPage" [(ngModel)]="formData[i].academic_depart_remarks">
        </ion-textarea>
      </label>
    </div>

  </div>
</div>
<form (ngSubmit)="submit()" class="submit__form" [hidden]="inOtherPage || loading">
  <button type="submit" class="subscribe-button" tappable>
    Submit
  </button>
</form>