<ion-content>
  <div class="bg">
    <div class="signup-center-div">
      <div class="logo">
        <img class="logo-image" src="assets/images/logo.png" />
      </div>
      <p class="signup-text">Sign In</p>
      <form [formGroup]="formgroup" (ngSubmit)="submitForm()" novalidate autocomplete="off" [autocomplete]="false">

        <div>
          <label class="item item-input item-stacked-label">
            <input
              formControlName="email"
              class="bg-img mt0 email mylabel"
              type="email"
              placeholder="Email"
            />
          </label>
          <ion-label
            class="inputLabel validation validation-req-text-end"
            *ngIf="email.hasError('required') && isSubmitted"
            end
            >Required*</ion-label
          >
          <!-- <ion-label
            class="inputLabel validation validation-invalid-text-end"
            *ngIf="email.hasError('pattern') && isSubmitted"
            end
            >Invalid email*</ion-label
          > -->

          <label class="item item-input item-stacked-label">
            <input
              formControlName="password"
              class="bg-img pwd mylabel"
              type="password"
              placeholder="Password"
            />
          </label>
          <ion-label
            class="inputLabel validation validation-req-text-end mb3"
            *ngIf="password.hasError('required') && isSubmitted"
            end
            >Required*</ion-label
          >
        </div>
        <button type="submit" class="subscribe-button" tappable>Sign In</button>
      </form>
      <div class="tc">
        <!-- <span class="fl">
          <ion-label>Remember Me</ion-label>
          <ion-checkbox
            aria-checked="true"
            checked="true"
            class="mr10 black"
            slot="start"
            [(ngModel)]="agree"
          ></ion-checkbox
        ></span> -->
        <span (click)="forgotpassword()" class="fr">Forgot Password?</span>
      </div>
    </div>
  </div>
</ion-content>
<div class="bottom-bar"></div>
