<!-- COUNSELLING AFFAIRS -->
<div class="signup-center-div">
  <p class="signup-text"></p>
  <div class="datetime">
    <ion-item>
      <ion-label>
        <h2>Please select Date</h2>
      </ion-label>
      <ion-datetime [(ngModel)]="date" (ionChange)="setFormDate($event)" placeholder="select date"></ion-datetime>
      <ion-button slot="end" color="dark" (click)="date = null">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <div style="height: 30px"></div>

  </div>

  <label class="item item-input item-stacked-label">
    <input class="bg-img mylabel" type="text" value="{{fullname}}" readonly placeholder="Student Name" />
  </label>

  <!-- *ngFor="let sb of formData; let i = index" -->

  <div *ngFor="let sb of formData; let i = index">
    <label class="item item-input item-stacked-label">
      <input type="hidden" [(ngModel)]="sb.student_subject_id">
      <input class="bg-img mylabel" type="text" [value]="sb.subject?.subject?.name" readonly
        placeholder="Subject Name" />
    </label>

    <div class="wd100 fl">
      <label class="item item-input item-stacked-label">
        <ion-textarea class="bg-img mylabel mytextarea" placeholder="Reasons For Under Performance*...."
          [readonly]="inOtherPage" [(ngModel)]="sb.reason_for_under_performance">
        </ion-textarea>
      </label>
    </div>

    <div class="wd100 fl">
      <h4>SOLUTIONS</h4>
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Weekly Counselling </ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="sb.weekly_counselling" slot="start"
            name="weekly_counselling"></ion-checkbox>
        </ion-item>
      </span>
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Meet the Teacher</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="sb.meet_the_teacher" slot="start" name="meet_the_teacher">
          </ion-checkbox>
        </ion-item>
      </span>
    </div>

    <div class="wd100 fl">
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Peer Tutoring</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="sb.peer_tutoring" slot="start" name="peer_tutoring">
          </ion-checkbox>
        </ion-item>
      </span>
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Meet the Parents</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="sb.meet_the_parents" slot="start" name="meet_the_parents">
          </ion-checkbox>
        </ion-item>
      </span>
    </div>

    <div class="wd100 fl">
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Associate Teacher</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="sb.associate_teacher" slot="start"
            name="associate_teacher"></ion-checkbox>
        </ion-item>
      </span>
      <span class="wd50 fl">
        <ion-item lines="none">
          <ion-label>Add. Recommendations</ion-label>
          <ion-checkbox [disabled]="inOtherPage" [(ngModel)]="sb.recommendations" slot="start" name="recommendations">
          </ion-checkbox>
        </ion-item>
      </span>
    </div>

    <div class="wd100 fl">
      <h4>Follow Up</h4>

      <label class="item item-input item-stacked-label">
        <ion-datetime class="bg-img date mylabel" placeholder="1st Follow-up" displayFormat="MM--DD--YY"
          [disabled]="inOtherPage" [(ngModel)]="formData[i].first_follow_up"></ion-datetime>
      </label>

      <div class="wd100 fl">
        <label class="item item-input item-stacked-label">
          <ion-textarea class="bg-img mylabel mytextarea" placeholder="1st Follow-up Outcome...."
            [readonly]="inOtherPage" [(ngModel)]="formData[i].first_follow_up_out_come">
          </ion-textarea>
        </label>
      </div>

      <label class="item item-input item-stacked-label">
        <ion-datetime class="bg-img date mylabel" placeholder="2nd Follow-up" displayFormat="MM--DD--YY"
          [disabled]="inOtherPage" [(ngModel)]="formData[i].second_follow_up"></ion-datetime>
      </label>

      <div class="wd100 fl">
        <label class="item item-input item-stacked-label">
          <ion-textarea class="bg-img mylabel mytextarea" placeholder="2nd Follow-up Outcome...."
            [readonly]="inOtherPage" [(ngModel)]="formData[i].second_follow_up_out_come">
          </ion-textarea>
        </label>
      </div>

      <label class="item item-input item-stacked-label">
        <ion-datetime class="bg-img date mylabel" placeholder="3rd Follow-up" displayFormat="MM--DD--YY"
          [disabled]="inOtherPage" [(ngModel)]="formData[i].third_follow_up"></ion-datetime>
      </label>

      <div class="wd100 fl">
        <label class="item item-input item-stacked-label">
          <ion-textarea class="bg-img mylabel mytextarea" placeholder="3rd Follow-up Outcome...."
            [readonly]="inOtherPage" [(ngModel)]="formData[i].third_follow_up_out_come">
          </ion-textarea>
        </label>
      </div>
    </div>

    <div class="wd100 fl" style="border-bottom: 2px solid;">
      <h4>Final Follow Up</h4>

      <label class="item item-input item-stacked-label">
        <ion-datetime class="bg-img date mylabel" placeholder="Date" displayFormat="MM--DD--YY" [disabled]="inOtherPage"
          [(ngModel)]="formData[i].final_follow_up"></ion-datetime>
      </label>

      <div class="wd100 fl">
        <label class="item item-input item-stacked-label">
          <ion-textarea class="bg-img mylabel mytextarea" placeholder="Outcome...." [readonly]="inOtherPage"
            [(ngModel)]="formData[i].final_follow_up_out_come">
          </ion-textarea>
        </label>
      </div>


    </div>




  </div>

  <div style="text-align: center; width: 100%;" [hidden]="!loading">
    <ion-spinner></ion-spinner>
  </div>

</div>
<form (ngSubmit)="submit()" class="submit__form" [hidden]="inOtherPage || loading"
  style="padding-bottom: 70px; padding-top: 30px;">
  <button type="submit" class="subscribe-button" tappable>
    Submit
  </button>
</form>