<ion-content>
  <div class="bg">
    <img (click)="gotologin()" class="pd20" src="assets/images/back.png" />

    <div class="signup-center-div">
      <div class="logo">
        <ion-img class="logo-image" src="assets/images/logo.png"></ion-img>
      </div>
      <div class="logo forgot-image">
        <ion-img
          class="logo-image forgot"
          src="assets/images/forgot.png"
        ></ion-img>
      </div>
      <p class="signup-text">Forgot your password?</p>
      <p class="signup-text subtext">Confirm your email</p>
      <form [formGroup]="formgroup" (ngSubmit)="submitForm()" novalidate>
        <div>
          <label class="item item-input item-stacked-label">
            <input
              formControlName="email"
              class="bg-img email mylabel"
              type="email"
              placeholder="Email"
            />
          </label>
          <ion-label
            class="inputLabel validation validation-req-text-end"
            *ngIf="email.hasError('required') && isSubmitted"
            end
            >Required*</ion-label
          >
          <ion-label
            class="inputLabel validation validation-invalid-text-end"
            *ngIf="email.hasError('pattern') && isSubmitted"
            end
            >Invalid email*</ion-label
          >
        </div>
        <button type="submit" class="subscribe-button" tappable>
          Reset Password
        </button>
      </form>
      <!-- <div (click)="gotologin()" class="tc">
      <span>Back to Login</span>
    </div> -->
    </div>
  </div>
</ion-content>
<div class="bottom-bar">
  <p class="intro">
    By signing up you agree with our
    <span (click)="about('terms')" style="text-decoration: underline"
      >Terms & Conditions</span
    >
  </p>
</div>
