.logo {
  text-align: center;
}
.logo-image {
  width: 60%;
  text-align: center;
  display: inline-block;
}
.bg {
  background-image: url("../../assets/images/appbg.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.signup-center-div {
  margin: auto;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.signup-head {
  font-size: 24px;
  font-weight: bold;
}
.signup-text {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  // margin-top: 16%;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.subtext {
  color: #9f9b9b;
  margin-top: 0;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 20px;
}
.subscribe-button {
  margin-left: auto;
  margin-right: auto;
  color: black;
  border-radius: 3px;
  font-size: 13px;
  background-color: #fac416;
  text-align: center;
  padding-top: 4vw;
  padding-bottom: 4vw;
  width: 80%;
  margin-top: 5%;
  font-weight: bold;
}
.tc {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  font-size: 18px;
  color: black;
}
.login {
  color: #016ef6;
}
.fl {
  float: left;
}
.fr {
  float: right;
  color: #016ef6;
  font-size: 13px;
}
.bottom-bar {
  position: absolute;
  bottom: 0px;
  width: 70%;
  left: 15%;
  text-align: center;
}
.intro {
  font-size: 12px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}
.bg-img {
  width: 80%;
  border: none;
  margin-bottom: 4%;
  // margin-top: 4%;
  padding: 10px;
  border-radius: 3px;
  padding-left: 50px;
  font-size: 13px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(217, 206, 217, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(217, 206, 217, 1);
  box-shadow: 1px 1px 5px 0px rgba(217, 206, 217, 1);
}
.pd20 {
  padding: 20px;
  padding-bottom: 0px;
  width: 50px;
}
.email {
  background: url(/assets/images/Email.png) no-repeat 5% 0px transparent;
  background-size: 29px;
}
.pwd {
  background: url(/assets/images/Password.png) no-repeat 5% 0px transparent;
  background-size: 29px;
}
.mt2 {
  margin-top: 2% !important;
}
.validation {
  width: 80%;
  float: left;
  text-align: left;
  margin-left: auto;
  font-size: 12px;
  color: red;
  margin-left: 10%;
  margin-bottom: 3%;
  font-weight: bold;
  margin-right: auto;
}
.forgot-image {
  width: 100% !important;
  margin-top: 10% !important;
}
.black {
  color: black !important;
}
.forgot {
  width: 25%;
  text-align: center;
  display: inline-block;
}
