<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-buttons>
        <ion-button (click)="goback()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Counceling</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar (click)="selectedStudent(student.id,student.student_id,student.first_name,student.last_name)"
        slot="start">
        <img src="assets/images/male.jpg" />
      </ion-avatar>
      <ion-label (click)="selectedStudent(student.id,student.student_id,student.first_name,student.last_name)">
        <h3>{{student?.first_name + ' ' + student?.last_name}}</h3>
        <p>Class: {{student?.studentclass.name}}</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let item of list">
      <ion-card-content>
        <ion-item>
          <ion-label>
            <p>{{ item.created_at | date: 'short'}}</p>
          </ion-label>
          <ion-icon name="ellipse" style="color: {{item.color.hex}}"></ion-icon>
        </ion-item>
        <ion-item *ngFor="let sub of item.subjects">
          <ion-label>
            <h2>{{sub.subject.subject.name}}</h2>
            <p>Follow Up: {{sub.final_follow_up_out_come}}</p>
            <p *ngIf="sub.reason_for_under_performance">Reason for under performance:
              {{sub.reason_for_under_performance}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Approved ?
          </ion-label>
          <ion-icon slot="end" [name]="item.approved == '1' ? 'checkmark-circle-outline' : 'remove-outline' ">
          </ion-icon>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>