<ion-tabs>
  <ion-tab-bar slot="bottom" color="warning">
    <ion-tab-button tab="affairs">
      <ion-label>Affairs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="academic">
      <ion-label>Academic</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="counceling">
      <ion-label>Counceling</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
