<ion-app>
  <!-- <ion-split-pane contentId="main-content"> -->
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <!-- <ion-list id="inbox-list"> -->
      <ion-list>
        <!-- <div (click)="editprofile()" class="menu-block"> -->
        <div (click)="editprofile()" class="menu-block">
          <span class="wd25 fl">
            <!-- <img class="imageblock" src="assets/images/man.jpg"/> -->
            <img onerror="this.src = 'assets/images/male.jpg'" class="imageblock" src="{{ image }}" />
          </span>
          <span class="wd75 fr">
            <!-- <ion-list-header class="white"></ion-list-header> -->
            <ion-note class="white fs18">{{ name }}</ion-note>
            <ion-note class="white mb30 wd100 fl email">{{
              email
              }}</ion-note>
          </span>
        </div>
        <div class="wd100 fl">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <img class="menuimage" *ngIf="selectedIndex == i" src="{{ p.imageactive }}" />
              <img class="menuimage" *ngIf="selectedIndex != i" src="{{ p.image }}" />
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" (click)="profile('')">
              <ion-label>Profile</ion-label>
            </ion-item>
          </ion-menu-toggle> -->
          <!-- <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" (click)="selectCounsellor('')">
              <ion-label>Select Counsellor</ion-label>
            </ion-item>
          </ion-menu-toggle> -->
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" (click)="about('privacypolicy')">
              <!-- <img class="menuimage" src="assets/images/shareblack.png" /> -->
              <ion-label>Privacy Policy</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" (click)="about('terms')">
              <!-- <img class="menuimage" src="assets/images/shareblack.png" /> -->
              <ion-label>Terms & Conditions</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" (click)="getmsg()">
              <!-- <img class="menuimage" src="assets/images/shareblack.png" /> -->
              <ion-label>Share</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" (click)="logout()">
              <img class="menuimage" src="assets/images/signout.png" />
              <ion-label>Log Out</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-app>