ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  // --padding-start: 8px;
  // --padding-end: 8px;
  // --padding-top: 20px;
  // --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  // margin-bottom: 30px;
  margin-bottom: 0;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
  width: 100%;
}
.email {
  padding: 5px;
  // background: #00377d;
  width: 73%;
  font-size: 13px;
  border-radius: 5px;
  // margin-left: 5px;
  width: auto !important;
}
ion-item.item.ios.item-lines-none.in-list.ion-activatable.ion-focusable.hydrated.item-label.selected {
  background: #fac416;
}
ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 30px;
  --padding-end: 10px;
  border-bottom: 1px solid #dad6d6;
  // border-radius: 4px;
}

ion-menu.md ion-item.selected {
  // --background: rgba(var(--ion-color-primary-rgb), 0.14);
  --background: #fac416;
}

ion-menu.md ion-item.selected ion-icon {
  // color: var(--ion-color-primary);
  color: white;
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  // font-weight: 500;
  // padding-left: 15px;
  // margin-top: 15px;
  font-weight: 500;
  /* padding-left: 15px; */
  margin-top: 5px;
  margin-bottom: 1px;
  font-size: 14px;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 30px;
  --padding-end: 16px;
  --min-height: 50px;
  --background: none;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 0px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 0px;
  padding-right: 0px;
}

ion-menu.ios ion-note {
  margin-bottom: 0px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  // --color: var(--ion-color-primary);
  --color: white;
}
.menu-block {
  width: 100%;
  float: left;
  padding-top: 20px;
  background: no-repeat;
  padding-bottom: 20px;
  /* background-position: left; */
  background-size: cover;
  background-color: #fac416;
  // background-image: url("../assets/images/sidemenubg.png");
}
.imageblock {
  margin-top: 10%;
  margin-left: 20%;
  border-radius: 80px;
  width: 65px;
  border: 2px solid white;
  height: 65px;
}
.wd25 {
  width: 25%;
}
.wd75 {
  width: 75%;
  padding-left: 10px;
}
.wd100 {
  width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.white {
  color: black !important;
}
ion-menu ion-list {
  padding: 0px !important;
}
.mb30 {
  margin-bottom: 30px;
}
.fs18 {
  font-size: 18px;
  margin-top: 8%;
  font-weight: bold;
  margin-bottom: 3px;
}
ion-icon[name="menu"]:before {
  content: url("../assets/images/Menu.png") !important;
}
.menuimage {
  width: 24px;
  display: none;
}
ion-label.sc-ion-label-ios-h.sc-ion-label-ios-s.ios.hydrated {
  font-size: 16px;
  padding-left: 16px;
}
/* .alert-radio-label.sc-ion-alert-md {
  padding-left: 0px;
  padding-right: unset;
  -webkit-padding-start: 35px;
  padding-inline-start: 35px;
  -webkit-padding-end: 26px;
  padding-inline-end: 20px;
  font-size: 14px;
}
 */
.toolbar-background {
  --border-bottom: 1px solid #fac416;
  border-bottom: 1px solid #fac416;
}
.toolbar-container {
  --border-bottom: 1px solid #fac416;
  border-bottom: 1px solid #fac416;
}
