<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goback()" slot="start">
      <img *ngIf="platform != 'ios'" class="wd60" src="assets/images/backwhite.png" />
      <img *ngIf="platform == 'ios'" class="wd45" src="assets/images/backwhite.png" />
    </ion-buttons>
    <ion-title>Counselling Department</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item (click)="toggle = !toggle">
    <ion-label>Student Affairs</ion-label>
    <div slot="end" class="button-area" [hidden]="!inOtherPage || loading_sa || submitted_sa">
      <ion-button size="small" color="primary" fill="outline" (click)="hitPost($event, '1', 'sa')" >Accept</ion-button>
      <ion-button size="small" color="danger" fill="outline" (click)="hitPost($event, '0', 'sa')">Reject</ion-button>
    </div>
    <div slot="end" *ngIf="submitted_sa"><ion-text color="success">submitted</ion-text></div>
    <ion-icon slot="end" [name]="toggle ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
  </ion-item>
  <app-student-affairs [class.ion-show]="toggle" [class.ion-hide]="!toggle" [id]="id" [fname]="fname" [lname]="lname" [student_id]="student_id"
    style="width: 100%; display: block" [inOtherPage]="true" (sendId)="sendId($event, 'sa')"></app-student-affairs>
  <!-- ACADEMIC AFFAIRS -->
  <ion-item (click)="toggle2 = !toggle2">
    <ion-label>Academic</ion-label>
    <div slot="end" class="button-area" [hidden]="!inOtherPage || loading_ac || submitted_ac">
      <ion-button size="small" color="primary" fill="outline" (click)="hitPost($event, '1', 'ac')" >Accept</ion-button>
      <ion-button size="small" color="danger" fill="outline" (click)="hitPost($event, '0', 'ac')">Reject</ion-button>
    </div>
    <div slot="end" *ngIf="submitted_ac"><ion-text color="success">submitted</ion-text></div>
    <ion-icon slot="end" [name]="toggle2 ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
  </ion-item>
  <app-academic-affairs [class.ion-show]="toggle2" [class.ion-hide]="!toggle2" [id]="id" [fname]="fname" [lname]="lname" [student_id]="student_id"
    style="width: 100%; display: block" [inOtherPage]="true" (sendId)="sendId($event, 'ac')"></app-academic-affairs>

  <div class="bg">
    <!-- COUNSELLING AFFAIRS -->
    <ion-item (click)="toggle3 = !toggle3">
      <ion-label>Councelling</ion-label>
      <div slot="end" class="button-area" [hidden]="!inOtherPage || loading_co || submitted_co">
        <ion-button size="small" color="primary" fill="outline" (click)="hitPost($event, '1', 'co')">Accept</ion-button>
        <ion-button size="small" color="danger" fill="outline" (click)="hitPost($event, '0', 'co')">Reject</ion-button>
      </div>
      <div slot="end" *ngIf="submitted_co"><ion-text color="success">submitted</ion-text></div>
      <ion-icon slot="end" [name]="toggle3 ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
    </ion-item>
    <app-counselling-affairs [class.ion-show]="toggle3" [class.ion-hide]="!toggle3" [id]="id" [fname]="fname" [lname]="lname" [student_id]="student_id"
      style="width: 100%; display: block" [inOtherPage]="inOtherPage" (sendId)="sendId($event, 'co')" ></app-counselling-affairs>


  </div>




</ion-content>
