.logo {
  text-align: center;
}
.logo-image {
  width: 90%;
  text-align: center;
  display: inline-block;
}
.signup-center-div {
  margin: auto;
  width: 100%;
  display: flex !important;
  align-items: center !important;
  height: 75%;
}
.subscribe-button {
  margin-left: auto;
  margin-right: auto;
  color: #016ef6;
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
  padding-top: 4vw;
  padding-bottom: 4vw;
  font-weight: bold;
  width: 56%;
  bottom: 5%;
  position: absolute;
  left: 22%;
}
.fb {
  background-color: #4267b2;
}
.google {
  background-color: #dc3545;
}
.login {
  background-color: white;
}

.button__icon {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  left: 18%;
  position: absolute;
  height: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.icon--plus {
  width: 27px;
}

.icon__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
}
.tc {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  font-size: 17px;
  color: #016ef6;
}
.bottom-bar {
  width: 40%;
  margin: auto;
  border: 2px solid white;
  position: absolute;
  bottom: 0px;
  width: 40%;
  left: 30%;
}
.shape {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.main {
  color: white;
  text-align: center;
  position: absolute;
  z-index: 99;
  padding: 20px;
  bottom: 100px;
}
.head {
  font-size: 24px;
  width: 100%;
  float: left;
}
.sub-head {
  font-size: 14px;
  font-weight: 100;
  margin-top: 5%;
  width: 100%;
  float: left;
}
