<ion-content>
  <div class="signup-center-div">
    <div class="logo">
      <ion-img
        class="logo-image"
        src="assets/images/illustration.png"
      ></ion-img>
    </div>
  </div>
  <div class="bg">
    <div class="main">
      <span class="head">No Internet Connection</span>
      <span class="sub-head"
        >You are not connected to the internet, Make sure Wifi is on, Airplane
        Mode is off and try again.
      </span>
    </div>
    <ion-img class="logo-image shape" src="assets/images/Shape.png"></ion-img>
    <button type="button" class="subscribe-button login" tappable>Retry</button>
    <div class="bottom-bar"></div>
  </div>
</ion-content>
