.logo {
  text-align: center;
}
.logo-image {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.signup-center-div {
  margin: auto;
  // margin-top: 5%;
  width: 100%;
  text-align: center;
}
.signup-text {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}
.subscribe-button {
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 3px;
  font-size: 13px;
  background-color: #016ef6;
  text-align: center;
  padding-top: 4vw;
  padding-bottom: 4vw;
  width: 80%;
  margin-top: 5%;
}
.tc {
  width: 80%;
  margin: auto;
  margin-top: 3%;
  font-size: 13px;
  color: #016ef6;
  margin-bottom: 3%;
}
.login {
  color: #016ef6;
}
.pd20 {
  padding: 20px;
  padding-bottom: 0px !important;
}

.bg-img {
  // width: 70%;
  // border: none;
  // margin-bottom: 4%;
  // margin-top: 4%;
  // padding: 10px;
  // padding-left: 66px;
  // font-size: 16px;
  text-align: left;
  width: 80%;
  border: none;
  margin: auto;
  margin-bottom: 4%;
  --padding-start: 50px;
  /* --padding-start: 0px; */
  padding: 10px;
  padding-left: 66px;
  font-size: 12px;
}
.email {
  background: url(../../assets/images/EmailBlue.png) no-repeat 6% 8px
    transparent;
  background-size: 18px;
  // background-color: gainsboro;
}
.name {
  background: url(../../assets/images/NameBlue.png) no-repeat 6% 4px transparent;
  background-size: 18px;
}
.phone {
  background: url(../../assets/images/PhoneNo.png) no-repeat 6% 4px transparent;
  background-size: 18px;
}

.terms {
  width: 80%;
  margin: auto;
}
.mr10 {
  margin-right: 6px !important;
}
.pdl {
  --padding-start: 0px;
}
.or {
  width: 80%;
  margin: auto;
  float: left;
  margin-left: 10%;
}
.or-text {
  font-size: 15px !important;
  font-style: italic;
}
.mt2 {
  margin-top: 2% !important;
}
ion-item.pdl0.item.md.item-lines-none.ion-activatable.ion-focusable.ion-untouched.ion-pristine.ion-valid.hydrated.item-label {
  --padding-start: 0px;
}
ion-item.pdl0.item.md.item-lines-none.ion-activatable.ion-focusable.hydrated.item-label.item-checkbox-checked.ion-valid.ion-dirty.ion-touched {
  --padding-start: 0px;
}
ion-item.pdl0.item.md.item-lines-none.ion-activatable.ion-focusable.hydrated.item-label.ion-valid.ion-dirty {
  --padding-start: 0px;
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
  font-size: 16px;
  padding-left: 34%;
  color: gray;
}
.checkbox-icon {
  border-radius: 3px !important;
  border: 1px solid !important;
}

.icon--plus {
  width: 27px;
}

.icon__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
}
.validation {
  width: 80%;
  float: left;
  text-align: left;
  margin-left: auto;
  color: red;
  margin-left: 10%;
  font-weight: bold;
  margin-right: auto;
}
.mt0 {
  margin-top: 0px;
}

.wd60 {
  width: 60%;
  margin: 0px;
}
.wd45 {
  width: 45%;
  margin: 0px;
}
.profile-pic {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  border: 2px solid white;
}
.editprofile-pic {
  width: 28px;
  height: 28px;
}
.profileimagebox {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
}
.editprofilebox {
  position: absolute;
  top: 20%;
  width: 100%;
  left: 45px;
  text-align: center;
}
.top {
  width: 100%;
  float: left;
}
input.native-input.sc-ion-input-md {
  padding-top: 4px;
}
.wd100 {
  width: 100%;
}
.mb0 {
  margin-bottom: 0px;
}
.mt2 {
  margin-top: 2%;
}
.required {
  padding-left: 7% !important;
  color: red !important;
}
.label-stacked.sc-ion-label-ios-h {
  font-size: 16px;
  padding-left: 23%;
  color: gray;
  margin-bottom: 0px;
}
