<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false">
      <img
        *ngIf="platform != 'ios'"
        class="wd60"
        src="assets/images/Menu.png"
      />
      <img
        *ngIf="platform == 'ios'"
        class="wd45"
        src="assets/images/Menu.png"
      />
    </ion-menu-button>
  </ion-buttons>
  <!-- <ion-buttons slot="primary">
    <ion-button>
      <img class="wd45" src="assets/images/Search.png" />
    </ion-button>
  </ion-buttons> -->
  <ion-title>Profile</ion-title>
</ion-toolbar>

<ion-content>
  <div class="top">
    <ion-img class="logo-image" src="assets/images/ProfileBg.png"></ion-img>
    <div class="profileimagebox">
      <img
        onerror="this.src = 'assets/images/male.jpg'"
        class="profile-pic"
        [src]="image"
      />
    </div>
    <!-- <div class="editprofilebox">
      <img
        (click)="select()"
        class="editprofile-pic"
        onerror="this.src = 'assets/images/male.jpg'"
        src="assets/images/Profile.png"
      />
    </div> -->
  </div>

  <div class="signup-center-div">
    <form [formGroup]="formgroup" (ngSubmit)="updateinfo()" novalidate>
      <ion-item class="wd100" lines="none">
        <ion-label position="stacked">Name</ion-label>
        <ion-input
          formControlName="name"
          class="bg-img name mylabel"
          type="text"
          placeholder="Name"
          [(ngModel)]="namevalue"
          readonly
        ></ion-input>
      </ion-item>

      <ion-label
        class="inputLabel validation validation-req-text-end required"
        *ngIf="name.hasError('required') && isSubmitted "
        end
        >Required*</ion-label
      >

      <ion-label
        class="inputLabel validation validation-req-text-end required"
        *ngIf="name.hasError('pattern') && isSubmitted"
        end
        >Characters & Numbers can't be included in name*</ion-label
      >

      <ion-item class="wd100" lines="none">
        <ion-label position="stacked">Phone</ion-label>
        <ion-input
          formControlName="phone"
          class="bg-img mt0 phone mylabel"
          type="number"
          placeholder="Number"
          [(ngModel)]="phonevalue"
          readonly
        ></ion-input>
      </ion-item>

      <ion-label
        class="inputLabel validation validation-req-text-end required"
        *ngIf="phone.hasError('required') && isSubmitted"
        end
        >Required*</ion-label
      >

      <ion-item class="wd100" lines="none">
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          formControlName="email"
          class="bg-img mt0 mt2 email mylabel"
          type="email"
          placeholder="Email"
          [(ngModel)]="emailvalue"
          readonly
        ></ion-input>
      </ion-item>

      <!-- <button type="submit" class="subscribe-button" tappable>
        Update Profile
      </button> -->
    </form>

    <!-- <div class="tc">
      <span (click)="changepassword()">Change Password</span>
    </div> -->
  </div>
</ion-content>
