ion-content {
  ion-avatar {
    width: 90px;
    height: 10vh;
    margin: auto;
  }
  .capture {
    font-size: 24px;
    text-align: center;
    margin: -25px 0px 7px 75px;
  }
  .center {
    position: relative;
    margin-top: 10px;
  }
  .id {
    text-align: center;
  }
  .bg-img {
    width: 90%;
    border: none;
    margin-bottom: 4%;
    margin-top: 2%;
    padding: 4px !important;
    padding-left: 16px !important;
    border-radius: 5px;
    background: #3b3b3b;
    font-size: 13px;
    box-shadow: 1px 1px 5px 0px #d9ced9;
  }
  ion-badge {
    font-size: 15px;
  }
  .subscribe-button {
    margin-left: 20px;
    margin-right: 10px;
    color: black;
    border-radius: 3px;
    font-size: 13px;
    background-color: #fac416;
    text-align: center;
    padding-top: 4vw;
    padding-bottom: 4vw;
    width: 90%;
    margin-bottom: 5%;
    font-weight: bold;
  }
}
