<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goback()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <ion-avatar slot="center">
      <img [src]="userImage" />
    </ion-avatar>
    <div class="capture">
      <ion-icon size="2" name="camera" (click)="captureImage()"></ion-icon>
    </div>
    <div class="id">
      <ion-badge color="dark">ID#{{student?.student_id}}</ion-badge>
    </div>
  </div>

  <div class="student-fields">
    <ion-list *ngIf="student">
      <ion-item class="ion-margin" lines="none">
        <ion-label class="label" position="stacked">Student First Name</ion-label>
        <ion-input class="bg-img mt0" [(ngModel)]="student.first_name"></ion-input>
      </ion-item>
      <ion-item class="ion-margin" lines="none">
        <ion-label class="label" position="stacked">Student Last Name</ion-label>
        <ion-input class="bg-img mt0" [(ngModel)]="student.last_name"></ion-input>
      </ion-item>
      <ion-item class="ion-margin" lines="none">
        <ion-label class="label" position="stacked">Student Phone</ion-label>
        <ion-input class="bg-img mt0" [(ngModel)]="student.phone_number"></ion-input>
      </ion-item>
      <ion-item class="ion-margin" lines="none">
        <ion-label class="label" position="stacked">Father Name</ion-label>
        <ion-input class="bg-img mt0" [(ngModel)]="student.father_name"></ion-input>
      </ion-item>
      <ion-item class="ion-margin" lines="none">
        <ion-label class="label" position="stacked">Father Email</ion-label>
        <ion-input class="bg-img mt0" [(ngModel)]="student.father_email"></ion-input>
      </ion-item>
      <ion-item class="ion-margin" lines="none">
        <ion-label class="label" position="stacked">Father Phone</ion-label>
        <ion-input class="bg-img mt0" [(ngModel)]="student.father_phone"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  <div class="save-button">
    <button type="submit" (click)="setStudentProfile()" class="subscribe-button" tappable>Save</button>
  </div>
</ion-content>
