/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-toolbar {
  --background: #fac416;
  --color: black;
}
ion-header {
  --background: #fac416;
  --color: black;
}
.toolbar-background {
  --border-bottom: 1px solid #fac416 !important;
  border-bottom: 1px solid #fac416 !important;
}
.toolbar-container {
  --border-bottom: 1px solid #fac416 !important;
  border-bottom: 1px solid #fac416 !important;
}

.flagmod {
  .modal-wrapper {
    z-index: 10;
    height: 93% !important;
    width: 94% !important;
    margin: auto;
    border: 3px solid black;
    contain: strict;
  }
  ion-backdrop {
    // height: 50%;
    visibility: visible;
    z-index: initial !important;
  }
}

.successmod {
  .modal-wrapper {
    z-index: 10;
    height: 53% !important;
    width: 90% !important;
    margin: auto;
    contain: strict;
    border-radius: 20px;
  }
  ion-backdrop {
    visibility: visible;
    z-index: initial !important;
  }
}

.filtermod {
  .modal-wrapper {
    z-index: 10;
    height: 62% !important;
    width: 94% !important;
    margin: auto;
    contain: strict;
    border-radius: 15px;
  }
  ion-backdrop {
    // height: 50%;
    visibility: visible;
    z-index: initial !important;
  }
}

.categorymod {
  .modal-wrapper {
    z-index: 10;
    height: 68% !important;
    width: 94% !important;
    margin: auto;
    contain: strict;
    border-radius: 15px;
  }
  ion-backdrop {
    // height: 50%;
    visibility: visible;
    z-index: initial !important;
  }
}

.comingsoonmod {
  .modal-wrapper {
    z-index: 10;
    height: 39% !important;
    width: 65% !important;
    margin: auto;
    contain: strict;
    border-radius: 12px;
  }
  ion-backdrop {
    // height: 50%;
    visibility: visible;
    z-index: initial !important;
  }
}
:host {
  padding-left: unset;
  padding-right: unset;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}
.alert-radio-label.sc-ion-alert-md {
  padding-left: 0px;
  padding-right: unset;
  -webkit-padding-start: 35px !important;
  padding-inline-start: 35px !important;
  -webkit-padding-end: 20px !important;
  padding-inline-end: 20px !important;
  font-size: 14px !important;
}
.searchbar-input.sc-ion-searchbar-md {
  width: 96% !important;
  text-align: left;
  padding-left: 0;
  /* border: none; */
  border-radius: 10px;
  margin-top: 2%;
  font-size: 15px;
  margin-left: 2%;
  padding-right: unset;
  /* box-shadow: none; */
  /* border: none; */
  -webkit-padding-start: 0;
  padding-inline-start: 10px;
}
.searchbar-search-icon.sc-ion-searchbar-md {
  display: none;
}
.searchbar-search-icon {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
.searchbar-clear-icon.sc-ion-searchbar-md {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
// ion-title.md.title-default.hydrated {
//   font-size: 18px !important;
//   padding: 5px;
// }

.fade-in-top {
	-webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-26 1:43:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
