<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goback()" slot="start">
      <img *ngIf="platform != 'ios'" class="wd60" src="assets/images/backwhite.png" />
      <img *ngIf="platform == 'ios'" class="wd45" src="assets/images/backwhite.png" />
    </ion-buttons>
    <ion-title>Academic Department</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!--  -->
    <ion-item (click)="!isAcademic ? toggle = !toggle : ''" >
      <ion-label>Student Affairs</ion-label>
      <ion-icon *ngIf="!isAcademic" slot="end" [name]="toggle ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      <ion-icon *ngIf="isAcademic" name="shield"></ion-icon>
    </ion-item>

  <app-student-affairs [class.ion-show]="toggle" [class.ion-hide]="!toggle" [id]="id" [fname]="fname" [lname]="lname" [student_id]="student_id"
    style="width: 100%; display: block" [inOtherPage]="true"></app-student-affairs>
  <div class="bg">
    <!-- ACADEMIC AFFAIRS -->
    <ion-item (click)="toggle2 = !toggle2">
      <ion-label>Academic</ion-label>
      <ion-icon slot="end" [name]="toggle2 ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
    </ion-item>
    <app-academic-affairs [class.ion-show]="toggle2" [class.ion-hide]="!toggle2" [id]="id" [fname]="fname" [lname]="lname" [student_id]="student_id"
      style="width: 100%; display: block" [inOtherPage]="false"></app-academic-affairs>
  </div>
</ion-content>
