<ion-content>
  <div class="bg">
    <!-- <img (click)="gotoselect()" class="pd20" src="assets/images/back.png" /> -->
    <div class="signup-center-div">
      <div class="logo">
        <img class="logo-image" src="assets/images/logo.png" />
      </div>
      <p class="signup-text">Sign Up</p>
      <div>
        <form [formGroup]="formgroup" (ngSubmit)="submitForm()" novalidate>
          <label class="item item-input item-stacked-label">
            <input
              formControlName="name"
              class="bg-img mt0 name mylabel"
              type="text"
              placeholder="Name"
            />
          </label>

          <ion-label
            class="inputLabel validation validation-req-text-end"
            *ngIf="name.hasError('required') && isSubmitted"
            end
            >Required*</ion-label
          >
          <ion-label
            class="inputLabel validation validation-invalid-text-end"
            *ngIf="name.hasError('pattern') && isSubmitted"
            end
            >Characters & Numbers can't be included in name*</ion-label
          >

          <label class="item item-input item-stacked-label">
            <input
              formControlName="phone"
              class="bg-img phone mylabel"
              type="number"
              placeholder="Phone Number"
            />
          </label>

          <ion-label
            class="inputLabel validation validation-req-text-end"
            *ngIf="phone.hasError('required') && isSubmitted"
            end
            >Required*</ion-label
          >

          <label class="item item-input item-stacked-label">
            <input
              formControlName="email"
              class="bg-img email mylabel"
              type="email"
              placeholder="Email"
            />
          </label>
          <ion-label
            class="inputLabel validation validation-req-text-end"
            *ngIf="email.hasError('required') && isSubmitted"
            end
            >Required*</ion-label
          >
          <ion-label
            class="inputLabel validation validation-invalid-text-end"
            *ngIf="email.hasError('pattern') && isSubmitted"
            end
            >Invalid email*</ion-label
          >

          <label class="item item-input item-stacked-label">
            <input
              class="bg-img pwd mylabel"
              formControlName="password"
              type="password"
              placeholder="Password"
            />
          </label>
          <ion-label
            class="inputLabel validation validation-req-text-end mb3"
            *ngIf="password.hasError('required') && isSubmitted"
            end
            >Required*</ion-label
          >
          <ion-label
            class="inputLabel validation validation-req-text-end mb3"
            *ngIf="password.hasError('minlength') && isSubmitted"
            end
            >Password must be atleast of 6 digits*</ion-label
          >
        </form>

        <!-- <div class="terms">
          <ion-label
            >I accept all
            <span class="login" (click)="about('terms')"
              >terms and conditions</span
            ></ion-label
          >
          <ion-checkbox
            [(ngModel)]="check"
            class="mr10 black"
            slot="start"
          ></ion-checkbox>
        </div> -->

        <form [formGroup]="formgroup" (ngSubmit)="submitForm()">
          <button type="submit" class="subscribe-button" tappable>
            Sign Up
          </button>
        </form>
      </div>

      <div (click)="gotologin()" class="tc">
        <span>Already have an account ? <span class="login">Login</span></span>
      </div>
    </div>
  </div>
</ion-content>

<div class="bottom-bar">
  <p class="intro">
    By signing up you agree with our
    <span (click)="about('terms')" style="text-decoration: underline"
      >Terms & Conditions</span
    >
  </p>
</div>
