.logo {
  text-align: center;
}
.logo-image {
  width: 40%;
  text-align: center;
  padding-top: 5%;
  display: inline-block;
}
.bg {
  // background-image: url("../../assets/images/signupbg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  height: auto;
}
.signup-center-div {
  margin: auto;
  // margin-top: 5%;
  width: 100%;
  text-align: center;
}
.signup-text {
  text-align: left;
  font-size: 18px !important;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.subtext {
  color: #9f9b9b;
  margin-top: 0;
  font-size: 13px !important;
  font-weight: 100;
  margin-bottom: 20px;
}
.subscribe-button {
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 100px;
  font-size: 16px;
  background-color: #016ef6;
  text-align: center;
  padding-top: 4vw;
  padding-bottom: 4vw;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
  margin-top: 5%;
}
.pd20 {
  padding: 20px;
  padding-bottom: 0px !important;
}
.tc {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 13px;
  color: black;
}
.login {
  color: #016ef6;
}
.fl {
  float: left;
  text-decoration: underline;
}
.fr {
  float: right;
  text-decoration: underline;
}
.bottom-bar {
  position: absolute;
  bottom: 0px;
  width: 70%;
  left: 15%;
  text-align: center;
}
.intro {
  font-size: 12px !important;
  color: white !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-top: 5px !important;
}
.bg-img {
  width: 80%;
  border: none;
  margin-bottom: 1%;
  margin-top: 4%;
  padding: 10px;
  border-radius: 100px;
  padding-left: 50px;
  font-size: 13px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(217, 206, 217, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(217, 206, 217, 1);
  box-shadow: 1px 1px 5px 0px rgba(217, 206, 217, 1);
}
.name {
  background: url(../../assets/images/Name.png) no-repeat 5% 0px transparent;
  background-size: 29px;
}
.phone {
  background: url(../../assets/images/Phone.png) no-repeat 5% 0px transparent;
  background-size: 29px;
}
.email {
  background: url(/assets/images/Email.png) no-repeat 5% 0px transparent;
  background-size: 29px;
}
.pwd {
  background: url(/assets/images/Password.png) no-repeat 5% 0px transparent;
  background-size: 29px;
}
.terms {
  width: 80%;
  margin: auto;
  margin-top: 2%;
}
.mr10 {
  margin-right: -20px !important;
}
.pdl {
  --padding-start: 0px;
}
ion-item.pdl0.item.md.item-lines-none.ion-activatable.ion-focusable.ion-untouched.ion-pristine.ion-valid.hydrated.item-label {
  --padding-start: 0px;
}
ion-item.pdl0.item.md.item-lines-none.ion-activatable.ion-focusable.hydrated.item-label.item-checkbox-checked.ion-valid.ion-dirty.ion-touched {
  --padding-start: 0px;
}
ion-item.pdl0.item.md.item-lines-none.ion-activatable.ion-focusable.hydrated.item-label.ion-valid.ion-dirty {
  --padding-start: 0px;
}
.black {
  --checkmark-color: black;
  --background-checked: white;
  --border-color: black;
  --border-color-checked: black;
  float: left;
}
.validation {
  width: 80%;
  float: left;
  text-align: left;
  margin-left: auto;
  color: red;
  font-size: 12px;
  margin-left: 10%;
  font-weight: bold;
  margin-right: auto;
}
.mb3 {
  margin-bottom: 3%;
}
.mt0 {
  margin-top: 0px;
}
ion-checkbox.ion-touched {
  height: 20px !important;
  width: 20px !important;
}
ion-checkbox {
  height: 20px !important;
  width: 20px !important;
}
