<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-buttons>
        <ion-button (click)="goback()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Student Affairs</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar (click)="selectedStudent(student.id,student.student_id,student.first_name,student.last_name)"
        slot="start">
        <img src="assets/images/male.jpg" />
      </ion-avatar>
      <ion-label (click)="selectedStudent(student.id,student.student_id,student.first_name,student.last_name)">
        <h3>{{student?.first_name + ' ' + student?.last_name}}</h3>
        <p>Class: {{student?.studentclass.name}}</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let item of list">
      <ion-card-content>
        <ion-item>
          <ion-label>
            <h2>Parent Concern</h2>
            <p>{{item.parent_concern}}</p>
          </ion-label>
          <ion-icon name="ellipse" style="color: {{item.color.hex}}"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Student Remarks</h2>
            <p>{{item.student_remarks}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Reasons</h2>
            <p>{{item.reasons.length}}</p>
          </ion-label>
        </ion-item>
        <ion-chip *ngFor="let res of item.reasons">
          <ion-label>{{res.reason.name}}</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>